h1,
p {
  font-family: Lato;
}

.App {
  background-color: yellowgreen;
  display: flex;
  align-content: center;
  justify-content: center;
}

input {
  display: flex;
  justify-content: center;
  align-content: center;
}
button {
  display: flex;
  align-items: flex-start;
}
p{
  color:red
}